//*// VIEWS //*//

//standard view
//table view inherited form tables & tumbnail view on thumbs.plone.less
.folder-listing {
	font-weight: @plone-font-weight-bold;
	list-style: none;
	position: relative;
	padding-left: 20px;
	//need to add a list portlets-like bullet
	li {margin: 10px 0;}
	> li:before {
			content:"•"; position: absolute; font-size: @plone-font-size-large+1; margin-top: -9px; left: 0;
			color: lighten(@plone-portlet-list-bullet, 15%);
	}
	.documentByLine {font-weight: @plone-font-weight-regular; color: @plone-gray-light;}
}

//summary view
.tileImage { padding-right: 5px; float:left; }
.tileImageNoFloat { margin-bottom: 5px; }
.tileFooter { clear: both; margin-top: 5px; }

// clear floats:
.entries::before,
#content article.entry::after,
#relatedItemBox ul li::after, 
#searchresults ul li::after  {
  content: " ";
  display: block;
  clear: both;
  height:2px;  //allow minimal vertical space for thumbs
  visibility: hidden;
}
//structure pattern, fix thumb positioning in foldercontents
.icon-group-right .image-icon {
  float:none;
}

//unite gallery view
#gallery-information {
	#gebrauchte-content-preis{
		padding: 10px;
		//background: #525252;
		background: #2f3438;
		color: #fafafa;
		vertical-align: middle;
		text-align: center;
		font-weight: 600;
		border-radius: 4px;
		p{
			margin: 0px;
		}
		margin-top: 40px;
	}
	#gebrauchte-content-artikelnummer{
		font-size: 12px;
	}
	a.gebrauchte-anfrage {
	    	padding: 10px;
	      	background: rgb(235, 149, 28);
	    	color: #2f3438;
	    	vertical-align: middle;
	    	text-align: center;
	    	font-weight: 600;
	    	border-radius: 4px;
	    	margin-top: 20px;
	    	width: 100%;
	    	display: block;
		margin-bottom: 20px;
	}
}

.slick-big-slider-tile{
    margin-bottom: 50px;
}

form#searchform{
	.input-group, .actionMenu, .autotoc-nav{
		display: none;
	}
}

#main-container{
	background-color: #fafafa;
	padding-top: 20px;
	padding-bottom: 20px;
}

#content-header .container {
    padding: 0px;
}

body#tinymce{
	background: #fafafa;
}

.slick-initialized .slick-slide {
    padding: 5px;
}


//used parts overrides
.section-used-parts{
	.documentFirstHeading{
		margin-bottom: 20px;
	}
	.portlet{
		border: none;
		box-shadow: none;
		.portletContent{
			background: transparent;
			border: none;
			text-align: center;
		}
	}
	.portletSearch{
		margin-bottom: 5px;
		.portletHeader{
			display:none;
		}
		#searchform{
			width: 400px;
			display: inline-block;
		}
		.searchButton{
			background: #2f3438;
    			color: #fff;
		}
		.searchField{
			border: 1px solid #2f3438;
			border-radius: 0px;
		}
	}
	.portletNavigationTree{
		margin-bottom: 40px;
		.navTree{
			text-align: center;
			li{
				display: inline-block;
				padding: 0px 5px;
				a{
					background: #2f3438;
					color: #fff;
					font-size: 18px;
				}
				a::before, a::after{
					display:none !important;
				}
				a:hover{
					background: #2f3438;
				}
			}
		
		}
	
	}

}

.searchResults{
	.documentAuthor, .documentPublished, .documentModified{
		display: none;
	}
}

i.glyphicon{
    display: none;
}
